﻿
@{
    ViewData["Title"] = "Donate Us";
}

<div>
    <h3>Donate us</h3>
    <form method="post">
        <input type="hidden" value="@ViewBag.Id" name="Id" />
        <table>
            <tr>
                <td>Email:</td>
                <td><input type="email" name="Email" /> </td>
            </tr>
            <tr>
                <td>Name:</td>
                <td><input type="text" name="Name" /></td>
            </tr>
            <tr>
                <td>Amount:</td>
                <td><input type="number" name="Amount" /></td>
            </tr>
            <tr><td><input type="submit" value="Sumbit" /> </td><td></td></tr>
        </table>
    </form>
</div>