﻿<div>
    <h3>Enter number to process</h3>
    <form method="post">
        <table>
            <tr>
                <td>Number:</td>
                <td><input type="number" name="Number" /> </td>
            </tr>
            <tr><td><input type="submit" value="Sumbit" /> </td><td></td></tr>
        </table>
    </form>
</div>
